.new-recipe-card {
  display: grid;
  place-content: center center;
  min-height: 32rem;
  cursor: pointer;
}

.new-recipe-card__btn {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  background: var(--gray-800);
  border-radius: 100%;
  color: #fff;
}
.new-recipe-card:hover .new-recipe-card__btn {
  background: var(--orange);
}
.new-recipe-card__btn svg {
  transform: rotate(45deg);
}
