.recipe {
  display: grid;
  gap: 2.5rem;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--gray-400);
}

.recipe__title {
  margin-top: -0.5rem;
  font-family: 'DM Serif Text', serif;
  font-size: 2.625rem;
  line-height: 1;
  font-weight: 500;
  color: var(--gray-850);
}

.recipe__section {
  position: relative;
  &::after {
    position: absolute;
    inset: -1.25rem 0 0 0;
    margin-inline: -2rem;
    content: '';
    border-top: 1px solid var(--gray-100);
    pointer-events: none;
  }
}

.recipe__section--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe__btn-group {
  display: flex;
  gap: 0.5rem;
}

.recipe__section h4 {
  font-weight: 500;
  color: var(--gray-850);
}