/* Custom properties & SASS variables */
:root {
  --gray-100: #f4f5f7;
  --gray-150: #e5e7ec;
  --gray-200: #d6dae1;
  --gray-250: #c7ccd6;
  --gray-300: #b8bfcc;
  --gray-350: #a9b1c1;
  --gray-400: #9aa3b6;
  --gray-450: #8b96ab;
  --gray-500: #7c88a0;
  --gray-550: #727d94;
  --gray-600: #687387;
  --gray-650: #5e687b;
  --gray-750: #545d6f;
  --gray-800: #4a5262;
  --gray-850: #404856;
  --gray-900: #363d49;
  --gray-950: #2c323d;

  --orange: #fdb572;
}

// For rgba (e.g in box-shadow) - could also use https://medium.com/techhive-io/how-to-use-css-variables-with-sass-mixins-671e1f6067b3
$gray-250: #c7ccd6;