/* Card Button */

.icon-button {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  color: var(--gray-800);
}
.icon-button:hover {
  color: var(--gray-800);
  background: var(--gray-125);
}

.icon-button--on {
  background: var(--gray-125);
}

.icon-button--close {
  color: var(--gray-350);
}
.icon-button--close:hover {
  color: var(--gray-350);
  background: var(--gray-950);
}

